{% extends 'backendlayout.html.twig' %}
{% block content %}	
<section class="row-fluid" id="central">
	{%include './panel.html.twig' %}
	{%include './publicationcenter.html.twig' %}
</section>
{% endblock %}
