<!DOCTYPE html>
<html>
<?php
    session_start();
    session_destroy();
?>
<head>
            <title>Couchinn</title>
            <meta charset="utf-8">
            <link rel="shortcut icon" href="bs/img/cube.png">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="bs/css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="bs/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="bs/css/bootstrap-theme.css">
            <link rel="stylesheet" type="text/css" href="bs/css/bootstrap-theme.min.css">
            <!--<link rel="stylesheet" type="text/css" href="../bs/css/bootstrap-responsive.css">-->
            <script src="bs/js/jquery.min.js"></script>
            <script src="bs/js/bootstrap.min.js"></script>
            <script src="bs/js/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top  "> <!--Barra de Menu Top-->
            <div class="container-fluid">
                <ul class="nav navbar-nav pull-right "> <!--Menu itemps por derecha-->
                    <li><a href="home.php">Inicio</a></li>
                    <li><a href="iniciar_sesion.php">Iniciar Sesion</a></li>
                    <li><a href="registrar.php">Registrar</a></li>
                <!--    <li><a href="">Contacto</a></li>
                    <li><a href=""><img src="bs/img/g/glyphicons-195-question-sign.png" width="18" height="18"></a></li>-->
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4"> <!--Cuerpo de Pagina Central -->
                <a href="#"><img src="bs/img/logo1.png" class="img-thumbnail" alt="Couchin"></a>
            </div>
        </div>
</body>
</html>