<!DOCTYPE html>
<html>
<head>
	<title>Couchinn</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="bs/img/cube.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="bs/css/bootstrap.css">
	<!--<link rel="stylesheet" type="text/css" href="bs/css/bootstrap.min.css">-->
	<!--<link rel="stylesheet" type="text/css" href="bs/css/bootstrap-theme.css">-->
	<link rel="stylesheet" type="text/css" href="css/estilos.css">

	 <!--<link rel="stylesheet" type="text/css" href="bs/css/bootstrap-theme.min.css">-->
	<script src="bs/js/jquery.min.js"></script>
	 <!--<script src="bs/js/bootstrap.min.js"></script>-->
	<script src="bs/js/bootstrap.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Irish+Grover" rel="stylesheet">
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuFront">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <a class="navbar-brand" href="#">Couchinn</a>
		    </div>
		    <div class="collapse navbar-collapse" id="menuFront">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="?action=ingresar"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
				<li><a href="?action=registrar"><span class="glyphicon glyphicon-user"></span> Registrar</a></li>
				<li><a href="?action=contacto"><span class="glyphicon glyphicon-info-sign"></span> Contacto</a></li>
				<li><a href="?action=ayuda"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
		{% block content %}
         ACA VA EL CONTENIDO PRINCIPAL
     	{% endblock %}
		<footer>
			
		</footer>
	</div>
</body>
</html>